apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1           # overridden per environment
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: todo-backend:latest
          imagePullPolicy: Never    # use local Minikube image
          ports:
            - containerPort: 5000
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DATABASE_URL
          readinessProbe:
            httpGet:
              path: /todos
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /todos
              port: 5000
            initialDelaySeconds: 20
            periodSeconds: 10
          resources:           # overridden per environment
            requests:
              cpu: "100m"
              memory: "64Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
