apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
stringData:
  POSTGRES_USER:     todo_user
  POSTGRES_PASSWORD: todo_pass
  POSTGRES_DB:       todos
  DATABASE_URL:      postgresql://todo_user:todo_pass@db-service:5432/todos
